
body {
  font: 10px sans-serif;
}
circle.node {
  fill: lightsteelblue;
  stroke: #fff;
  stroke-width: 1.5px;
}
path.hull {
  fill: lightsteelblue;
  fill-opacity: 0.3;
  stroke: none;
  stroke-width: 3px;
}
line.link {
  stroke: #333;
  stroke-opacity: 0.5;
  pointer-events: none;
}

rect {
  fill: #fff;
}

.node {
  fill: #000;
}

.cursor {
  fill: none;
  stroke: brown;
  pointer-events: none;
}

.link {
  stroke: #999;
}


#viz{
/*  float:left;*/
  position:absolute;
  top:56px;
  left:10px;
  right:10px;
  bottom:10px;
  padding:0 10px;

  background:#fffff3;
  border-radius:4px;
  z-index:1;
}


#chart{
  background:white;
/*  position:absolute;*/
/*  top:10px;*/
/*  left:270px;*/
/*  margin:10px 0;*/
}


#dashboard{
  position:fixed;
  height:55px;
  top:10px;
  left:10px;
  right:10px;
  background:#eeeee2 10px 8px no-repeat;
  border-radius:4px;
  padding:0;
}

#dashboard .controls{
/*  float:left;*/
  font:12px/32px Arial;
  margin:0 0 0 10px;
}

#dashboard .controls li{
  list-style-type:none;
  float:left;
  margin:6px 20px 0 0;
}

#dashboard .controls li span{
  font:32px Arial;
  margin-left:4px;
}


.frob,
.adjusting:hover{
  cursor:col-resize;
}

.frob.adjusting{
  color:#C98300;
}

.frob.huge{
  color:#AA4A02;
}

.frob.tiny{
  color:#C1BE85;
}